<div class="login-wrapper" style="box-sizing: border-box; padding: 84px 24px; display: flex; flex-direction: column; justify-content: flex-start;">
  <h2 style="text-align: center; width: 100%">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", style: "background: #68B4AC; color: white; border: none; padding: 10px 24px; border-radius: 6px; font-weight: bold; margin-bottom: 18px;" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
